@font-face {
  font-family: Jubilat;
  src: url(public/Jubilat/JubilMed.otf);
}

.question-hd {
  font-family: Jubilat;
}

.question-p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.btn-contribute {
  color: white;
  background: #d8171e;
  padding: 0 16px;
  font-size: 14px;
  height: 45px;
  font-weight: bold;
}

.navbar {
  background: rgb(62, 74, 88);
  color: white;
}

.navbar a {
  color: white;
}
